{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": ["^react", "^next", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,

  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cn", "cva"],

  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "importOrderSeparation": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 70
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
